project.technology=${technology}
project.package=${package}
build.target=${build}
asset.dir=res/asset
target.dir=res/target
page.dir=res/page
script.dir=res/script
compo.script=true
runtime.name=${runtimeName}
runtime.port=${runtimePort}
