<?xml version="1.0" encoding="UTF-8"?>
<page>
	<title>Index Page</title>
	<description>Index page description.</description>

	<scripts>
		<script src="script/${packagePath}/page/Index.js" defer="true" />
	</scripts>
</page>
