<?xml version="1.0" encoding="UTF-8" ?>
<template>
	<title>Page Template</title>
	<description>Page template description.</description>

	<scripts>
		<script src="lib/js-lib/js-lib.js"></script>
	</scripts>
</template>
