/**
 * Index page class.
 * 
 * @author ${author}
 * @since 1.0
 */
IndexPage = class extends Page {
	constructor() {
	}
};

window.addEventListener("DOMContentLoaded", event => {
	const page = new IndexPage();
});
